{% load static %}

<!doctype html>
<html>
    <head>
        {% block title%}
        {% endblock %}
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        {% block style %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="all">
        <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">
        <script type="text/javascript" src="{% static 'js/toastr.js' %}"></script> 
    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content %}
        {% endblock %}
        {% for message in messages %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endfor %}
    </body>
</html>